
.lalaland{
    width: 30%;
    height: 5px;
    min-width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.border{
    border: 2px solid rgb(58, 58, 145);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}

.img1{
    width: 20%;
    border-radius: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20%;
    padding: 15px;

    
}