h1{
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.filme2, .filme1, .filme3{
    text-align: center;
    width: 100%;
    color: white;
    
}

h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desc {
    font-size: 1.2rem;
    border: 0.5rem solid blue;
}

.rodape {
    width: 100%;
    background-color: rgb(0, 80, 134);
    display: flex;
    color: black;
    padding: 1rem;
}

.filmeh, .filmeaqua, .filmediv, .filmecasa, .filmelala, .filmetoy {
    border: 5px solid rgb(0, 80, 134);
    width: 100%;
    max-width: 450px;
}

a:hover {
    color: rgb(0, 204, 255);
}

.filmtit, .titprincipal1 {
    
    color: white;
}

body {
    background-color: rgb(69, 134, 187);
}

.filmecasa, .filmelala, .filmetoy {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.titcasa, .titlala, .tittoy {
    width: 100%;
    max-width: 450px;
    display: flex;
    position: relative;
    margin: 0 auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 
}

.yt {
    position: relative;
    margin: 0 auto;
    border-color: rgb(69, 134, 187);
    margin-left: 50vh;
}

@media (max-width: 768px) {
    .desc {
        font-size: 1rem;
        border-width: 0.2rem;
    }
}


.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;  
}

.menu li {
    font-size: 40px;
    margin-right: 1rem; 
    flex-grow: 1;  
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;  
    padding: 0.5rem 0;  
}

@media (max-width: 600px) {
    .menu li {
        margin-right: 0.5rem;  
    }
}
.rodape {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color:  rgb(69, 134, 187);
    border-radius: 20%;
}

.rodape a {
    text-decoration: none;
    color: rgb(69, 134, 187);
}

.rodape a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(69, 134, 187);
    color: white;
    padding: 10px 0;
}

.sinopseh{
    color: white;
    font-size:x-large;
    text-align: justify;
}

h2{
    text-align: center;
}