h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
}
.img1{
    position: relative;
    height: 3%;
    left: 10%;
}
a{
    font-size: 100%;
    text-decoration: dashed;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
 }

.filme2{
    top: 10px;
    text-align: center;
    width: 45%;
    left: 2000px;
    
}
h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.filme1{
    top: -570px;
    text-align: center;
    width: 45%;
    left: 180px;
    height: 700px;

    
}

.desc{
    right: -450px;
    font-size: 30px;
    border: 5px solid blue;
    
}

.rodape{
    text-align: center;
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    width: 150px;
    align-items: left;
    justify-content: center;
    text-decoration: none;
    color: aqua;
    margin-top: 18%;
    
}

.filmeh{
    border: 5px solid blue;
    width: 450px;
    height: 700px;
}


.filmeaqua{
    border: 5px solid blue;
    width: 450px;
    height: 700px;
    
}


.filme3{
    top: -570px;
    right: 500px;
    width: 48%;
    height: 700px;
    
}

.filmediv{
    border: 5px solid blue;
    width: 60%;
    height: 700px;
}

.filmecasa{
    border: 5px solid blue;
    width: 30%;
    height: 700px;
    
    
 
}

.filme4{
    text-align: center;
    position: relative;
    align-items: center;
    bottom: 2420px;
    left:550px;
    height: 500px;
    width: 1520px;
    top: -2230px;
}

a:hover{
    color:blue;

}





